<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthotel.admin.mapper.OrderMapper">

    <select id="fetchLiveOrderList" resultType="reserveRecord">
        select * from reserve_record
    </select>

    <select id="getLivenOrder" resultType="reserveRecord" parameterType="string">
        select * from reserve_record where orderId=#{id}
    </select>


    <select id="fetchCanteenOrderList" resultType="canteenRecord">
        select * from canteen_record
    </select>

    <select id="getCanteenOrder" resultType="canteenRecord" parameterType="string">
        select * from canteen_record where orderId=#{id}
    </select>


</mapper>