<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anthotel.web.mapper.FaceInfoMapper">

    <insert id="insertUserFaceInfo" parameterType="com.anthotel.face.dto.UserFaceInfo">
        INSERT INTO user_face_info(userId, group_id, face_id, name, phone_number, face_feature)
        VALUES (#{userId}, 1, #{faceId}, #{name}, #{phoneNumber}, #{faceFeature})
    </insert>

</mapper>